/* Style pour les lignes d'utilisateurs désactivés */
tr.user-disabled {
    opacity: 0.6;
    filter: grayscale(1);
    background-color: rgba(241, 245, 249, 0.5);
}

/* Badge de notification pulsant pour les nouveaux comptes à créer */
.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: #ef4444;
    /* Rouge */
    border-radius: 50%;
    border: 2px solid white;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
    }
}